


<h2><%= @title %></h2>
<div class="well">

  <h3>"Hello Social World"</h3>
  <p>In the Passion part of the curriculum we focus mainly on
    experiencing the possibilities of web applications and getting
    the kids acquainted with pair programming, presentation skills, etc.</p>

  <p>In WS2 we want to showcase the concept of software talking to other
    software by making API calls and extracting some content from Instagram. </p>

  <h4>Setup</h4>
  <ul>
    <li>Workshop 2 (90 mins)</li>
    <li>Instructors: 2</li>
    <li>Students: 4 - 10 pairs</li>
  </ul>

  <h4>Resources:</h4>
  <ul>
    <li><%= link_to 'ws2-1.html', ws2part1_path %>
      - Instagram API interface to search for user profile and return a instagram userID</li>
    <li><%= link_to 'ws2-2.html', ws2part2_path %>
      - The main interface for students to work on. </li>
  </ul>


</div>
