<div class="split-window">
  <div id="editor">var i = 3;
    print("Hello");
    function countDown() {
    if (i &gt; 0) {
    print(i--);
    setTimeout(countDown, 1000);
    } else {
    print("World!");
    }
    }
    setTimeout(countDown, 1000);</div>
  <div id="code-output" class="code" ></div>
</div>