<%= stylesheet_link_tag 'code-playground', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'codealia-ide/ide', 'data-turbolinks-track' => true %>

<div class="row" ng-app="CodealiaIDE" ng-controller="CodealiaIDEController">
  <div class="col-xs-6">
    <div id="editor"></div>
  </div>

  <div class="col-xs-6">
    <iframe id="page-preview" src="" frameborder="0"></iframe>
  </div>
</div>
