<%= stylesheet_link_tag 'code-playground', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'codealia-ide/ide', 'data-turbolinks-track' => true %>

<div class="row" ng-app="CodealiaIDE" ng-controller="LessonsController" ng-init="init()">
  <div class="col-xs-12" ng-view></div>
  <div class="col-xs-6">
    <ul>
      <li><a href="#/lessons/{{lessonId}}?mode=HTML">HTML for {{lessonId}}</a></li>
      <li><a href="#/lessons/{{lessonId}}?mode=CSS">CSS for {{lessonId}}</a></li>
      <li><a href="#/lessons/{{lessonId}}?mode=JS">JS for {{lessonId}}</a></li>
    </ul>
    <div id="editor"></div>
  </div>

  <div class="col-xs-6">
    <iframe id="page-preview" src="<%= html_preview_path  %>"></iframe>
  </div>
</div>
