<h2><%= @title %>></h2>
<div class="well">
  <p>Help us build out an open source, comprehensive course providing using web-based tools for learning and practical information for instructors and organisers.</p>

  <p>As a contributor to the team:</p>

  <ul>
    <li>Help build interactive coding lessons.</li>
    <li>Design automatic grading tools for the curriculum.</li>
    <!-- <li>Technical writing for open source user guide/manuals.</li> -->
    <li>Conribute to the online learning platform by creating web API wrappers.</li>
    <li>Help us manage Big Data analytics and reporting so that we can optimize course delivery.</li>
    <li>Integrate the latest HTML5 technologies to create engaging front-end GUIs.</li>
  </ul>

</div>