<h2><%= @title %></h2>
<div class="well">

  <p>Are you a developer or IT professional? Would you like to find a community of
    like-minded individuals who love to code, believe in bringing about positive change
    in the world and providing educational opportunities for younger generations?</p>

  <p>Help us build out an open source, comprehensive course providing
    web-based tools for learning and practical information for instructors and organisers.</p>

  <ul>
    <li>Help build interactive coding lessons.</li>
    <li>Help us manage Big Data analytics and reporting so that we can optimize course delivery.</li>
    <li>Integrate the latest technologies to create engaging websites.</li>
    <li>Contribute to the online learning platform by creating web API wrappers.</li>
    <li>Technical writing for open source user manuals and promotional guides.</li>
    <li>Design automatic grading tools for the curriculum.</li>
  </ul>

  <h3>Who are we?</h3>

  <p>We are a globally distributed agile team of software developers with backgrounds in Ruby on Rails
    projects, online learning MOOCs, graphic design, marketing &amp; database engineering.  We pair program,
    hold Google hangout scrums, talk, laugh, code (a lot) and work together in a spirit of collaboration.
    Codealia is dedicated to diversity. We offer opportunities for learning and growth to young girls
    interested in IT. </p>

  <p>You can follow our progress at our <a href="http://agileventures.org/projects/lulu-codealia">
    project page at agileventures.org</a>, on
    <a href="https://www.pivotaltracker.com/s/projects/1010062" target="_blank">PivotalTracker</a>
    and view the source of the web based applications in the projects
    <a href="https://github.com/AgileVentures/codealia">GitHub repository</a>.

  <p>Do you like giving back to the computer science community? Want to change your corner of the world?
    Then join our Codealia open-source group!</p>

</div>

<%= link_to 'Back', :back, :class => 'btn btn-default' %>
