<h2><%= @title %></h2>
<div class="well">

  <ul>
    <li>Help build interactive coding lessons.</li>
    <li>Design automatic grading tools for the curriculum.</li>
    <li>Help us manage Big Data analytics and reporting so that we can optimize course delivery.</li>
    <li>Contribute to the online learning platform by creating web API wrappers.</li>
    <li>Integrate the latest HTML5 technologies to create engaging front-end GUIs.</li>
    <li>Technical writing for open source user manuals and promotional guides.</li>
  </ul>

  <p>Help us build out an open source, comprehensive course providing
    web-based tools for learning and practical information for instructors and organisers.</p>

  <p>Are you a developer or IT professional? Would you like to find a community of
    like-minded individuals who love to code, believe in bringing about positive change
    in the world and providing educational opportunities for younger generations?</p>

  <p>Do you like giving back to the computer science community? Then join our Codealia open-source group!
    Who are we?</p>

    <p>We are a globally distributed agile team of software developers with backgrounds in Ruby on Rails
    projects, online learning MOOCs, graphic design, marketing &amp; database engineering.  We pair program,
    hold Google hangout scrums, talk, laugh, code (a lot) and work together in a spirit of collaboration.
    Codealia is dedicated to diversity. We offer opportunities for learning and growth to young girls
    interested in IT. </p>

  <p>Want to change your corner of the world? Come join us! </p>

  <p>If you'd like to find out more about how we're building out our SaaS, check out our project on
    <a href="https://github.com/AgileVentures/codealia">GitHub</a>.</p>

</div>

<%= link_to 'Back', :back, :class => 'btn btn-danger' %>