<h2><%= @title %></h2>
<div class="well">
  <img src="http://placehold.it/450x250">
  <!-- Pictures of team members or 30s video to make donors feel good about sending their money -->
  <p>Codealia has a strong emphasis on working together, co-operation and self-organising teams. With your contibutions Codealia will be able to:</p>

  <ul>
    <li>Build out the learning platform.</li>
    <li>Provide hardware and tools to students.</li>
    <li>Organise venues where sutdent can learn.</li>
    <li>Cover travel expenses for tutors and related costs.</li>
  </ul>

  <p>We take an experience based approach in our courses. Based on the behavioral patterns of our target audience, we can achieve a higher level of commitment that creates a good learning atmosphere and leads to better results.</p>

  <p>In-kind donations of goods and services to help support our initiative are also welcome.</p>

  <p>The learning platform we envisage </p>

</div>

<%= link_to 'Back', :back, :class => 'btn btn-danger' %>