<h2><%= @title %>></h2>
<div class="well">
  <p>Codealia has a strong emphasis on working together, co-operation and self-organising teams. With your contibutions Codealia will be able to:</p>

  <ul>
    <li>Build out the learning platform.</li>
    <li>Provide hardware and tools to students.</li>
    <li>Organise venues where sutdent can learn.</li>
    <li>Cover travel expenses for tutors and related costs.</li>
    <li>In-kind donations of goods and services to help support our initiative are also welcome.</li>
  </ul>

</div>