
<!-- Main content of the page. Remember to add 'float' cass to elements -->

    <h2 style="margin-bottom: -45px;">I am</h2>

    <h1>codealia</h1>
    <div class="well">
      <p>As Software engineers - we are worried that there are way to few female colleagues in our industry
        - and we sincerely believe that it leads to poor quality of the software we produce. </p>

      <p>We want to help to change that and make computer science attractive for young women and help them
        pursue careers within information technology.</p>

      <h3>The Problem</h3>

      <p>Women’s representation in the computing and information technology workforce has been falling. </p>

      <h3>The Solution</h3>

      <p>The goal of the project is to create a palette of tools that individuals and organizations can use to deliver
        courses in their communities. Our goal is to offer a complete solution - we will build and open source
        comprehensive course content, web-based tools for learning, practical information for instructors and organizers
        and marketing materials.</p>

    </div>
    <div class="row">
      <div class="col-md-4">
        <img class= "image-circle" src="http://placehold.it/150x150">
        <h2>Donors</h2>

        <p>Codealia has a strong emphasis on working together, co-operation and self-organising teams. With your contibutions Codealia will be able to...</p>

        <%= link_to 'Learn more', donors_path, class: 'btn btn-default' %>
      </div>

      <div class="col-md-4">
        <img class= "image-circle" src="http://placehold.it/150x150">
        <h2>Contributors</h2>

        <p>Help us build out an open source, comprehensive course providing using web-based tools for learning and practical information for instructors and organisers.</p>



        <p><%= link_to 'Learn more', contributors_path, class: 'btn btn-default' %></p>
      </div>

      <div class="col-md-4">
        <img class= "image-circle" src="http://placehold.it/150x150">
        <h2>Mentors</h2>
        <p>We welcome everyone who wants to get involved in our project.</p>
        <p><%= link_to 'Learn more', mentors_path, class: 'btn btn-default' %></p>
      </div>
    </div>


<!-- End of main content -->
