

  <div class="col-md-5 col-sm-offset-4 float">
    <h2 style="margin-bottom: -45px;">I am</h2>
    <h1>codealia</h1>
    <h3><%= @message %></h3>
  </div>


<div class="col-sm-8 col-sm-offset-4">
  <div class="well float">
    <h3>The Problem</h3>

    <p>Women’s representation in the computing and information technology workforce has been falling. I want to make
      computer science attractive for young girls and help them pursue an career within information technology.</p>

    <p>I want to reach out to girls that normally don’t come in contact with computer science and demystify the world of
      engineering. I want to make young girls excited about the creative part of software development and i want them to
      feel the same enthusiasm we all felt the first time we created a program and saw the words “hello World” on the
      screen.</p>

    <h3>The Solution</h3>

    <p>What can I as a symbol for a female software engineer offer in terms of a solution? (You know that I’m not a real
      person - but rather a conceptual being, right?)</p>

    <p>I Believe that the reign of the macho-code-ninja-programmers and corporate-bossy-boss-project-managers are over.
      Modern software engineering has a strong emphasis on working together, cooperation and self-organising teams. I am
      convinced that people are the most important factor in all software projects, irrespective of the approach or
      methodology used.</p>

    <h3>Let's do it!</h3>

    <p>My plan is to set up weekly girls-only classes and teach young students not only programming skills, but also
      present a number of perspectives addressing various aspects of the interpersonal relationships and communications
      skills that are needed in teams.</p>

    <p>I need your help in order to make this happen. I’m in the process of building a webbased tool for course delivery
      and content management. I need technology support, but more important than that, I need some strong female role
      models to back me up and help me spread the gospel of the beauty of programming and software engineering.

    <p>Have a look at out concept presentation on
      <a href="https://speakerdeck.com/tochman/codealia-dot-org-workshop" target="_blank">Speaker Deck</a>

    </p>

  </div>
</div>
<section class="bg-1">
</section>
