
<!-- Main content of the page. Remember to add 'float' cass to elements -->

    <h2 style="margin-bottom: -45px;">I am</h2>

    <h1>codealia</h1>
    <div class="well">
      <p>As Software engineers - we are worried that there are way to few female colleagues in our industry
        - and we sincerely believe that it leads to poor quality of the software we produce. </p>

      <p>We want to help to change that and make computer science attractive for young women and help them
        pursue careers within information technology.</p>

      <h3>The Problem</h3>

      <p>Women’s representation in the computing and information technology workforce has been falling. </p>

      <h3>The Solution</h3>

      <p>The goal of the project is to create a palette of tools that individuals and organizations can use to deliver
        courses in their communities. Our goal is to offer a complete solution - we will build and open source
        comprehensive course content, web-based tools for learning, practical information for instructors and organizers
        and marketing materials.</p>

    </div>
    <div class="row">
      <div class="col-md-4">
        <img class= "image-circle" src="http://placehold.it/150x150">
        <h2>Donors</h2>

        <p>Codealia has a strong emphasis on working together, co-operation and self-organising teams. With your contibutions Codealia will be able to:</p>

        <ul>
          <li>Build out the learning platform.</li>
          <li>Provide hardware and tools to students.</li>
          <li>Organise venues where sutdent can learn.</li>
          <li>Cover travel expenses for tutors and related costs.</li>
          <li>In-kind donations of goods and services to help support our initiative are also welcome.</li>
        </ul>

        <%= link_to 'Learn more', instructors_path, class: 'btn btn-default' %>
      </div>

      <div class="col-md-4">
        <img class= "image-circle" src="http://placehold.it/150x150">
        <h2>Developers</h2>

        <p>Help us build out an open source, comprehensive course providing using web-based tools for learning and practical information for instructors and organisers.</p>

        <p>As a contributor to the team:</p>

        <ul>
          <li>Help build interactive coding lessons.</li>
          <li>Design automatic grading tools for the curriculum.</li>
          <!-- <li>Technical writing for open source user guide/manuals.</li> -->
          <li>Conribute to the online learning platform by creating web API wrappers.</li>
          <li>Help us manage Big Data analytics and reporting so that we can optimize course delivery.</li>
          <li>Integrate the latest HTML5 technologies to create engaging front-end GUIs.</li>
        </ul>

        <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
      </div>

      <div class="col-md-4">
        <img class= "image-circle" src="http://placehold.it/150x150">
        <h2>Mentors</h2>

        <p>We welcome everyone who wants to get involved in our project.</p>

        <p>Mentors can come from all walks of life, we need:</p>

        <dl>
          <li><dt>Parents and Care givers</dt><dd>to support the live classes.</dd></li>
          <li><dt>Teachers and Educators</dt><dd>to deliver the lessons (virtual or live).</dd></li>
          <li><dt>IT Professionals</dt><dd>to provide technical support to our teams.</dd></li>
          <li><dt>Volunteers</dt><dd>to help run the progam.</dd></li>
        </dl>

        <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
      </div>
    </div>


<!-- End of main content -->
