<h2><%= @title %></h2>
<div class="well">
  <p>We welcome everyone who wants to get involved in our project.
    Mentors can come from all walks of life, we need:</p>

  <ul>
    <li>Parents and Caregivers
      <ul><li>to support the live classes.</li></ul></li>
    <li>Teachers and Educators
      <ul><li>to deliver the lessons (virtual or live).</li></ul></li>
    <li>IT Professionals
      <ul><li>to provide technical support to our teams.</li></ul></li>
    <li>Volunteers
      <ul><li>to help run the progam.</li></ul></li>
  </ul>

  <h3 style="margin-top: 35px;">'Codealia Codes' is different from other computer science trainings. </h3>
  <br />
  <p>When it comes to teaching girls computer science, educators agree "the younger, the better". If you're on this page, then we assume that you are an educator,  parent, caregiver or friend of a young girl who could benefit from participating in the free Codealia program. </p>

  <p>Our curriculum is designed for young girls. We don't just teach them how to programme, we also teach collaboration, cooperation and how to work in 'Agile' self-organizing teams. These relationship building skills go above and beyond just learning how to code. Codealia Girls also learn how to come together to solve problems, how to work together as a group and how to interact with technology as a creator and not just as a consumer.</p>

  <p>You as a Codealia volunteer, get to support and watch them grow in self-confidence &amp; technical expertise. Get ready to be part of something new with lots of fun, laughter, surprises, pictures, debates &amp; smiling faces! You can make a difference in the lives of these young girls. Come and join us!</p>


  <!-- C2A -->

</div>


<%= link_to 'Back', :back, :class => 'btn btn-default' %>