<h2><%= @title %>></h2>
<div class="well">
  <p>We welcome everyone who wants to get involved in our project.</p>

  <p>Mentors can come from all walks of life, we need:</p>

  <dl>
    <li><dt>Parents and Care givers</dt><dd>to support the live classes.</dd></li>
    <li><dt>Teachers and Educators</dt><dd>to deliver the lessons (virtual or live).</dd></li>
    <li><dt>IT Professionals</dt><dd>to provide technical support to our teams.</dd></li>
    <li><dt>Volunteers</dt><dd>to help run the progam.</dd></li>
  </dl>

</div>
