<h2>Codealia Terms and Conditions ("Agreement")</h2>
<div class="well">
  <p>This Agreement was last modified on the 8<sup>th</sup> of May 2014.</p>

  <p>Please read these Terms and Conditions ("Agreement", "Terms and Conditions") carefully before using http://codealia.org ("the Site") operated by AGILEVENTURES NONPROFIT LTD. ("us", "we", or "our"). This Agreement sets forth the legally binding terms and conditions for your use of the Site at http://codealia.org.</p>
  <p>By accessing or using the Site in any manner, including, but not limited to, visiting or browsing the Site or contributing content or other materials to the Site, you agree to be bound by these Terms and Conditions. Capitalized terms are defined in this Agreement.</p>

  <p><strong>Intellectual Property: Content</strong><br />The Site and its original content are owned by AGILEVENTURES NONPROFIT LTD. and are licenced under the <a href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution</a> license. You are free to:
  <ul>
    <li>Share — copy and redistribute the material in any medium or format</li>
    <li>Adapt — remix, transform, and build upon the material</li>
  </ul>
  for any purpose, even commercially. Under the folowing terms:</p>
  <p><strong>Attribution</strong><br />You must give appropriate credit, provide a link to the license, and indicate if changes were made. You may do so in any reasonable manner, but not in any way that suggests the licensor endorses you or your use.</p>

  <p><strong>Intellectual Property: Source code</strong><br />
    The Site and its features, functionality and source code are owned by AGILEVENTURES NONPROFIT LTD. and are licenced under the <a href="http://opensource.org/licenses/BSD-3-Clause">BSD</a> open source license:</p>
  <blockquote>
    <p>Copyright (c) 2014, AGILEVENTURES NONPROFIT LTD.<br>
    All rights reserved.</p>

    <p>Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:</p>

    <p>1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.</p>

    <p>2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following disclaimer in the documentation and/or other materials provided with the distribution.</p>

    <p>3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products derived from this software without specific prior written permission.</p>

    <p>THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.</p>
  </blockquote>

  <p><strong>Termination</strong><br />We may terminate your access to the Site, without cause or notice, which may result in the forfeiture and destruction of all information associated with you. All provisions of this Agreement that by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity, and limitations of liability.</p>

  <p><strong>Links To Other Sites</strong><br />Our Site may contain links to third-party sites that are not owned or controlled by AGILEVENTURES NONPROFIT LTD..</p>
  <p>AGILEVENTURES NONPROFIT LTD. has no control over, and assumes no responsibility for, the content, privacy policies, or practices of any third party sites or services. We strongly advise you to read the terms and conditions and privacy policy of any third-party site that you visit.</p>

  <p><strong>Governing Law</strong><br />This Agreement (and any further rules, polices, or guidelines incorporated by reference) shall be governed and construed in accordance with the laws of United Kingdom, without giving effect to any principles of conflicts of law.</p>

  <p><strong>Changes To This Agreement</strong><br />We reserve the right, at our sole discretion, to modify or replace these Terms and Conditions by posting the updated terms on the Site. Your continued use of the Site after any such changes constitutes your acceptance of the new Terms and Conditions.</p>
  <p>Please review this Agreement periodically for changes. If you do not agree to any of this Agreement or any changes to this Agreement, do not use, access or continue to access the Site or discontinue any use of the Site immediately.</p>

  <p><strong>Contact Us</strong><br />If you have any questions about this Agreement, please <a href="mailto:info@agileventures.org">contact us</a>.</p>
</div>

<a name="privacy"></a>
<h2>Codealia Privacy Policy</h2>
<div class="well">
  <p>This Privacy Policy was last modified on March 20, 2014.</p>
  <p>AGILEVENTURES NONPROFIT LTD. ("us", "we", or "our") operates codealia.org (the "Site"). This page informs you of our policies regarding the collection, use and disclosure of Personal Information we receive from users of the Site.</p>
  <p>We use your Personal Information only for providing and improving the Site. By using the Site, you agree to the collection and use of information in accordance with this policy. Unless otherwise defined in this Privacy Policy, terms used in this Privacy Policy have the same meanings as in our Terms and Conditions, accessible at codealia.org.</p>

  <p><strong>Information Collection And Use</strong><br />While using our Site, we may ask you to provide us with certain personally identifiable information that can be used to contact or identify you. Personally identifiable information may include, but is not limited to, your name, email address, postal address and phone number ("Personal Information").</p>

  <p><strong>Log Data</strong><br />Like many site operators, we collect information that your browser sends whenever you visit our Site ("Log Data"). This Log Data may include information such as your computer's Internet Protocol ("IP") address, browser type, browser version, the pages of our Site that you visit, the time and date of your visit, the time spent on those pages and other statistics.</p>

  <p><strong>Cookies</strong><br />Cookies are files with small amount of data, which may include an anonymous unique identifier. Cookies are sent to your browser from a web site and stored on your computer's hard drive.</p>
  <p>Like many sites, we use "cookies" to collect information. You can instruct your browser to refuse all cookies or to indicate when a cookie is being sent. However, if you do not accept cookies, you may not be able to use some portions of our Site.</p>

  <p><strong>Security</strong><br />The security of your Personal Information is important to us, but remember that no method of transmission over the Internet, or method of electronic storage, is 100% secure. While we strive to use commercially acceptable means to protect your Personal Information, we cannot guarantee its absolute security.</p>

  <p><strong>Links To Other Sites</strong><br />Our Site may contain links to other sites that are not operated by us. If you click on a third party link, you will be directed to that third party's site. We strongly advise you to review the Privacy Policy of every site you visit.</p>
  <p>AGILEVENTURES NONPROFIT LTD. has no control over, and assumes no responsibility for, the content, privacy policies, or practices of any third party sites or services.</p>

  <p><strong>Changes To This Privacy Policy</strong><br />AGILEVENTURES NONPROFIT LTD. may update this Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on the Site. You are advised to review this Privacy Policy periodically for any changes.</p>

  <p><strong>Contact Us</strong><br />If you have any questions about this Privacy Policy, please <a href="mailto:info@agileventures.org">contact us</a>.</p>
</div>


<%= link_to 'Back', :back, :class => 'btn btn-default' %>