@import url(http://fonts.googleapis.com/css?family=Ubuntu);
body {
    font-family: Ubuntu, sans-serif;
    font-size: 30px;
}
/* style for lists and paragraphs p li ol ul inherit from body */
h1 {
    font-size: 14pt;
}
h2 {
    font-size: 40px;
}
.DeepPink {
    color: DeepPink;
}
.DarkOrange {
    color: DarkOrange;
}
.LavenderBG {
    background-color: Lavender;
}
.AntiqueBG {
    background-color: AntiqueWhite;
}

/* LAYOUT */
header, footer {
  background-color: rgba(244, 156, 21, 0.6);
  border: 3px solid red;
  padding: 0 22px;
}
header {
  border-radius: 18px 18px 0 0;
}