
<h2 style="color:gray">Blog</h2>



<div class="well">
  <div class="row">
    <div class="col-md-12">


    <%= render :partial => @posts  %>


    <br>

    <%= link_to 'New Post', new_post_path %>

    </div>
  </div>
</div>