@import "shared";

$height: 400px;

#page-preview {
  width: 100%;
}

#editor {
  width: 100%;
  height: $height;
  padding: 10px;
  border: 1px solid $black;
}

#page-preview {
  width: 100%;
  height: $height;
  background: white;
  border: 1px solid $black;
}
