#page-preview {
  width: 93%;
  margin: 20px 50px;
  background-color: white;
  border: 1px solid black;
}

#editor {
  width: 93%;
  height: 300px;
  margin: 20px 50px;
  padding: 10px;
  border-width: 1px;
  border-color: black;
  border-style: solid;
}
