<div class="row">
  <div class="col-md-3">
    <ul class="list-unstyled">
      <li>Volunteers
      <li>
      <li><%= link_to 'About Us', about_path %></li>
      <!--<li><a href="#">Blog</a></li>-->
      <!--<li><a href="#">Contact & support</a></li>-->
    </ul>
  </div>
  <div class="col-md-3">
    <ul class="list-unstyled">
      <li>Organizations
      <li><a href="http://www.agileventures.org">Agile Ventures</a></li>
    </ul>

  </div>

  <div class="col-md-3">
    <a href="/legal/terms_and_conditions">Terms of Service</a>
    <a href="/legal/terms_and_conditions#privacy">Privacy</a>
  </div>
  <div class="col-md-3">
    <p class="muted pull-right">All content is subject to MIT License 2014 AgileVentures & Codealia.</p>
  </div>
</div>

<a href="https://www.facebook.com/codealia">Facebook</a>
