<div class="row">
  <div class="col-md-3">
    <ul class="list-unstyled">
      <li>Volunteers</li>
      <li><%= link_to 'About Us', about_path %></li>
      <!--<li><a href="#">Blog</a></li>-->
      <!--<li><a href="#">Contact & support</a></li>-->
    </ul>
  </div>
  <div class="col-md-3">
    <ul class="list-unstyled">
      <li>Organizations</li>
      <li><a href="http://www.agileventures.org">Agile Ventures</a></li>
    </ul>

  </div>

  <div class="col-md-3">
    <ul class="list-unstyled">
      <li>Social Media</li>
      <li><a href="https://www.facebook.com/codealia"><i class="fa fa-facebook fa-custom-social"></i> Facebook</a></li>
      <li><a href="https://twitter.com/codealia"><i class="fa fa-twitter fa-custom-social"></i> Twitter</a></li>
      <li><a href="https://www.pinterest.com/codealia/"><i class="fa fa-pinterest fa-custom-social"></i> Pinterest</a></li>
      <li><a href="https://instagram.com/codealia_learntocode#"><i class="fa fa-instagram fa-custom-social"></i> Instagram</a></li>
    </ul>
  </div>

  <div class="col-md-3">
    <ul class="list-unstyled">
      <li><a href="/legal/terms_and_conditions">Terms of Service</a></li>
      <li><a href="/legal/terms_and_conditions#privacy">Privacy</a></li>
    </ul>
  </div>
</div>

<div class="row">
  The content of this site is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 Unported License</a>.
</div>