<div id="footer2">
    <div style="margin-top: 110px;">
    <div class="col-md-4">
      <ul class="list-unstyled">
        <li>Volunteers
        <li>
        <li><a href="/about">About us</a></li>
        <!--<li><a href="#">Blog</a></li>-->
        <!--<li><a href="#">Contact & support</a></li>-->
      </ul>
    </div>
    <div class="col-md-4">
      <ul class="list-unstyled">
        <li>Organizations
        <li>
        <li><a href="http://www.agileventures.org">Agile Ventures</a></li>
      </ul>

  </div>



    <div class="col-md-4">
      <a href="/legal/terms_and_conditions">Terms of Service</a>
      <a href="/legal/terms_and_conditions#privacy">Privacy</a>
    </div>
    <div class="col-md-4">
      <p class="muted pull-right">All content is subject to MIT License 2014 AgileVentures & Codealia.</p>
    </div>

</div>

</div>