
<div class="container">
  <div id="float-box">
    <div class="col-sm-8 col-sm-offset-3">
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>

  </div>

</div>


<div class="codealia animated fadeInLeft" style="opacity: 1;"></div>
<section class="bg-1">
  <div class="container">
  </div>
</section>

<%= parent_layout 'application' %>