
<div class="row">
  <div class="col-sm-3">
    <div class="codealia animated fadeInLeft" style="opacity: 1; z-index: 0;"></div>
  </div>
  <div class="col-sm-8">
    <%= yield %>
  </div>
</div>

<section class="bg-1"></section>

<%= parent_layout 'application' %>