<!DOCTYPE html>
<html>
<head>
  <%= render 'layouts/shared_head' %>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
  <link href="/custom.css" rel="stylesheet">
  <%= javascript_include_tag 'workshops', 'data-turbolinks-track' => true %>
</head>
<body ng-app="Codealia">

<div cdl-container>
  <%= yield %>
  <div cdl-passions-editor></div>
</div>

</body>
</html>
